/* Includes padding and border dimensions to be included in elements total width and height */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Gives background color for page */
body {
    background-color: #d9dcd6;
}

/* Sets style for header at top of page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    min-width: 1040px;
}

/* Moves header logo inline and changes font size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes color of "seo" in Horiseon */
header h1 .seo {
    color: #d9dcd6;
}

/* Moves navigation (nav) menu to the right and styles it */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bullet points next to items in nav menu */
header nav ul {
    list-style-type: none;
}

/* Places nav menu inline with Horiseon logo */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Changes color of nav menu items and removes underline*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font size of all non-header text on page */
p {
    font-size: 16px;
}

/* Displays image directly under header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Contains separate float elements to allow positioning with a minimum width to prevent boxes from shifting */
section {
    min-width: 880px;
}

/* Used to float image to left of container */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Used to float image to right of container */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styles the main content on the page and helps keep the boxes from shifting when the screen size gets smaller */
.content {
    width: 75%;
    min-width: 655px;
    display: inline-block;
    margin-left: 20px;
}

/* Styles the sidebar and floats it to the right of the main content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    min-width: 175px;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Styles the text in sidebar */
.benefit-content {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styles the headings in sidebar */
.benefit-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles images in sidebar */
.benefit-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styles Search Engine Optimization section in content */
.content-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styles images in sidebar*/
.content-style img {
    max-height: 200px;
}

/* Styles headings in sidebar */
.content-style h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styles heading in footer */
.footer h2 {
    font-size: 20px;
}
